:root {
  --navy: #1c3763;
  --redpink: #bb3b56;
  --blue: #3862af;
  --darkpurple: #392a40;
  --purple: #6c324f;
  font-size: 13px;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.eon h1,
.eon p {
  color: white;
  margin: 0;
  padding: 0;
}
.eon p {
  font-family: "Open Sans", sans-serif;
}
.eon h1 {
  font-family: "Noto Serif", serif;
  font-weight: 700;
}
.eon a {
  color: white;
}
.eon a:hover {
  opacity: 0.7;
}
.eon .text-underline {
  text-decoration: underline;
}
.eon .navbar {
  padding-top: 2.5rem;
}
.site-logo {
  width: 100px;
}
.login-background {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom right,
    var(--navy),
    var(--redpink)
  );
}
.login-backgroundImg {
  width: 100%;
  height: 100%;
  background-image: url("../img/user.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.eon .btn {
  text-transform: uppercase;
}

.eon .form-control,
.eon .btn {
  height: 50px;
  border-radius: 25px;
}
.eon .navbar .btn {
  height: 40px;
  line-height: 2.2rem;
}
.eon input[type="email"],
.eon input[type="password"] {
  background-color: transparent;
  color: white;
}
.eon input[type="email"]::placeholder,
.eon input[type="password"]::placeholder {
  text-transform: uppercase;
  color: white;
}
.eon input[type="email"],
.eon input[type="password"],
.eon .btn {
  font-size: 13px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.eon .btn-navy {
  width: 100%;
  background-color: var(--navy);
  color: white;
}
.eon .btn-navy:hover {
  filter: contrast(150%);
  color: white;
}

.eon small {
  font-size: 90%;
}

.login-backgroundImg {
  position: absolute;
  animation: myfirst 6s ease 0s infinite alternate;
}

@keyframes myfirst {
  0% {
    left: 0px;
    top: 0px;
  }

  50% {
    left: 0px;
    top: 20px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .login-backgroundImg {
    background: none;
  }
  .site-logo {
    width: 76px;
  }
  .eon .navbar .btn {
    height: 32px;
    line-height: 1.5rem;
  }
  .eon .navbar {
    padding: 0.5rem 0;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
